*{
    font-family: "Oswald", sans-serif;
    
}

.logo{
    height:75px;

}
.cocktails{
    font-family: "Playwrite CO", cursive;
    font-size:60px;
    width:fit-content;
    font-weight: 900;
    margin:auto;
}
.ingredients{
    color: #008ae6;
    display:flex;
    width:fit-content;
    padding:2px 10px;
    font-size :16px;
    font-weight: 900;
    margin:5px 7px 5px 7px;
    border:1px solid black;
    border-radius: 10rem;
    cursor:pointer;
    transition: ease 0.3s;
    background-color: #e9ecef;
}
.ingredients:hover{
    color: black;
    transition: ease 0.3s;
}

.d-flex{
    display: flex;
}
.search{
    margin:10px auto !important;
    font-size:30px;
    padding:5px 4px;
}

/*cocktails names - font-family: "Bebas Neue", sans-serif;*/
.cocktail-name{
    font-family: "Bebas Neue", sans-serif;
    text-align: center;
    font-size:30px;
    font-weight: 700;

}
.main{
    display: grid;
    grid-template-columns: repeat(5,350px);
}
 .card{
    padding:5px;

    margin:30px;
 }

 .ingredient{
    font-size:18px;
    margin:5px 0;
 }
.ingredient>b{
    background-color:#008ae6;
    border-radius:3px;
    color:white;
    padding:0px 5px;
}
 @media only screen and (max-width: 1023px){
    .d-flex{
        display: block !important;
    }
    .main{
        display: block;
    }
 }